<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Product</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <button class="btn btn-sm btn-outline-secondary">?</button>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/product">Product</a></li>
                    <li class="breadcrumb-item active">Edit product</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Product</b>
        </div>
    </div>
</div>




<form action="/product/update/<%= product._id %>?_method=PUT" method="POST">
    <div class="row form-group mb-4">
        <div class="col">
            <label for="product_type">Chọn loại sản phẩm:</label>
            <select id="product_type" name="product_type">
                <option value="Điện thoại" <%=product.product_type==='Điện thoại' ? 'selected' : '' %>>Điện thoại
                </option>
                <option value="Phụ kiện" <%=product.product_type==='Phụ kiện' ? 'selected' : '' %>>Phụ kiện</option>
            </select>
        </div>
    </div>

    <div class="col">
        <label for="firstName">Product Name</label>
        <input type="text" class="form-control" id="product_name" name="product_name"
            value="<%= product.product_name %>" placeholder="Product Name" required />
    </div>


      <div class="col">
        <label for="tel">Rom</label>
        <input
          type="text"
          class="form-control"
          id="rom"
          name="rom"
          value="<%=product.rom%>"
          placeholder="Rom"
          required
        />
      </div>
  </div>

  <div class="row form-group mb-4" style="padding-bottom: 10px;">

    <div class="col">

        <label for="tel">Brand name</label>
        <input type="text" class="form-control" id="brand_name" name="brand_name" value="<%=product.brand_name%>"
            placeholder="Brand name" required />
    </div>

    <div class="col">
        <label for="tel">Percent discount</label>
        <input type="number" step="1" class="form-control" id="percent_discount" name="percent_discount"
            value="<%=product.percent_discount%>" placeholder="Percent discount" required />
    </div>

    <input class="btn btn-primary mt-3" type="submit" value="Update">

</form>









<script src="/js/selectedImage.js"></script>