
<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Product</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>


<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/product">Product</a></li>
          <li class="breadcrumb-item active">Edit product</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
        <b>Product</b>
    </div>
  </div>
</div>



<form action="/product/update/<%= product._id %>?_method=PUT" method="POST">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="product_name"
        name="product_name"
        value="<%= product.product_name %>"
        placeholder="Product Name"
        required
      />
    </div>

    <div class="col">
        <label for="tel">Brand name</label>
        <input
          type="text"
          class="form-control"
          id="brand_name"
          name="brand_name"
          value="<%=product.brand_name%>"
          placeholder="Brand name"
          required
        />
      </div>
   
  </div>

  <div class="row form-group mb-4" style="padding-bottom: 10px;">

    <div class="col">
        <label for="tel">Quantity</label>
        <input
          type="text"
          class="form-control"
          id="quantity"
          name="quantity"
          value="no data"
          placeholder="Quantity"
          required
        />
      </div>

    <div class="col">
        <label for="lastName">Default price</label>
        <input
          type="number"
          class="form-control"
          id="default_price"
          name="default_price"
          value="<%= product.default_price%>"
          placeholder="Price"
          required
        />
      </div>
         <div class="col">
        <label for="percent_discount">percent_discount:</label>
    <input type="number" step="1" id="percent_discount" name="percent_discount" required value=<%= product.percent_discount%>>
    </div>
  </div>

  <li class="list-group-item"> 
    <div class="row">
        <label for="lastName">Colors: </label>
      <% for (let color of product.options.colors) {%>
        <div class="col">
          <tr>
            <td>
                <img class="col" style="max-width: 150px" src="<%= color.image %>" alt="">
            </td>
            <td class="text-bottom">
              <div>Color: <%= color.color %></div>
              <div>Increase price: <%= color.increase_price %> VND</div>  
              <a style="margin-left: 50px;" class="btn btn-danger btn-sm mr-2" href="" data-bs-id="color/<%=color._id%>"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></a>          
            </td>   
          </tr>   
        </div>         
      <% } %>
    </div>
  </li>

  <div class="col" style="padding-top: 20px;">
  <label>Ram</label>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">size</th>
            <th scope="col">increase_price</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let ram of product.options.rams) {%>
            <tr>
                <td>
                    <%= ram.size %>
                </td>

                <td>
                    <%= ram.increase_price %>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm mr-2" href="" data-bs-id="ram/<%=ram._id%>"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></a>

                    <!-- <button type="button" class="btn btn-danger btn-sm mr-2" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" data-bs-id="ram/<%=ram._id%>">Delete</button> -->
                </td>
            </tr>
            <% } %>
    </tbody>
</table>
  </div>

  <div class="col" style="padding-top: 20px;">
  <label for="lastName">Rom</label>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">size</th>
            <th scope="col">increase_price</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <% for (let rom of product.options.roms) {%>
            <tr>
                <td>
                    <%= rom.size %>
                </td>

                <td>
                    <%= rom.increase_price %>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm mr-2" href="" data-bs-id="rom/<%=rom._id%>"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></a>           
                </td>
            </tr>
            <% } %>
    </tbody>
</table>
  </div>

  <label>Des</label>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">title</th>
              <th scope="col">image</th>
              <th scope="col">content</th>
              <th scope="col">action</th>
          </tr>
      </thead>
      <tbody>
          <% for (let item of product.description) {%>
              <tr>
                  <td>
                      <%= item.title %>
                  </td>
                  <td>
                      <img style="width: 60px; height: 60px;" class="option_colors" src=" <%= item.image%>" alt="Không có ảnh">
                  </td>
                  <td>
                      <%= item.content %>
                  </td>
                  <td>
                    <a class="btn btn-danger btn-sm mr-2" href="" data-bs-id="description/<%=item._id%>"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></a>           
                </td>
                 
              </tr>
              <% } %>
      </tbody>
  </table>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    add option
</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelDescription">
    add description
</button>

  <input class="btn btn-primary" type="submit" value="Update">
  
</form>
<div style="margin-top: 50px;"></div>





<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose option</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="colors">
                    <label class="form-check-label" for="inlineRadio1">Color</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="rams">
                    <label class="form-check-label" for="inlineRadio2">Ram</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="roms">
                    <label class="form-check-label" for="inlineRadio3">Rom</label>
                </div>
            </div>

            <form class="option" action="/product/option/<%= product._id %>?_method=PUT" method="post"
                name="insert-option-form" enctype="multipart/form-data">
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btnInsert" type="button" class="btn btn-primary">Insert</button>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="modelDescription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modelDescriptionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modelDescriptionLabel">Add description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="option" action="/home/product/description/<%= product._id %>?_method=PUT" method="post"
                name="insert-option-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" name="title" id="title">
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">content</label>
                    <input type="text" class="form-control" name="content" id="content">
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">image</label>
                    <input type="file" class="form-control" name="image" id="image">
                  </div>
                <div class="d-flex align-items-end justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnInsert" type="submit" class="btn btn-primary ms-4">Insert</button>
                </div>
            </form>



        </div>
    </div>
</div>



<form method="post" name="delete-form"></form>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Confirm deletion?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="btn-delete-modal">Continue</button>
            </div>
        </div>
    </div>
</div>





<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('inlineRadio1').checked = true
        var selectedOption = 'colors'
        const form = document.forms['insert-option-form']

        var imageLabel = document.createElement('label')
        imageLabel.textContent = 'Image:'
        form.appendChild(imageLabel)

        var previewImage = document.createElement('img')
        previewImage.alt = 'Error'
        previewImage.id = 'preview-image'
        form.appendChild(previewImage)

        var imageInput = document.createElement('input')
        imageInput.type = 'file'
        imageInput.className = 'form-control'
        imageInput.id = 'image'
        imageInput.name = 'image'
        imageInput.accept = 'image/*'
        imageInput.required = true
        imageInput.addEventListener('change', previewImage)
        form.appendChild(imageInput)


        var colorLabel = document.createElement('label')
        colorLabel.textContent = 'Color:'
        form.appendChild(colorLabel)

        var colorInput = document.createElement('input')
        colorInput.type = 'text'
        colorInput.id = 'color'
        colorInput.name = 'color'
        colorInput.className = 'input_option'
        colorInput.required = true
        form.appendChild(colorInput)

        var increasePriceLabel = document.createElement('label')
        increasePriceLabel.textContent = 'Increase Price:'
        form.appendChild(increasePriceLabel)

        var increasePriceInput = document.createElement('input')
        increasePriceInput.type = 'number'
        increasePriceInput.step = '1000'
        increasePriceInput.id = 'increase_price'
        increasePriceInput.name = 'increase_price'
        increasePriceInput.defaultValue = '0'
        increasePriceInput.className = 'input_option'
        increasePriceInput.required = true
        form.appendChild(increasePriceInput)


        document.querySelectorAll('input[name="inlineRadioOptions"]').forEach(element => {
            element.addEventListener('click', (e) => {
                form.innerHTML = ''

                selectedOption = document.querySelector('input[name="inlineRadioOptions"]:checked').value
                if (selectedOption === 'colors') {

                    var imageLabel = document.createElement('label')
                    imageLabel.textContent = 'Image:'
                    form.appendChild(imageLabel)

                    var previewImage = document.createElement('img')
                    previewImage.alt = 'Error'
                    previewImage.id = 'preview-image'
                    form.appendChild(previewImage)

                    var imageInput = document.createElement('input')
                    imageInput.type = 'file'
                    imageInput.className = 'form-control'
                    imageInput.id = 'image'
                    imageInput.name = 'image'
                    imageInput.accept = 'image/*'
                    imageInput.addEventListener('change', () => showPreviewImage(event))
                    form.appendChild(imageInput)


                    var colorLabel = document.createElement('label')
                    colorLabel.textContent = 'Color:'
                    form.appendChild(colorLabel)

                    var colorInput = document.createElement('input')
                    colorInput.type = 'text'
                    colorInput.id = 'color'
                    colorInput.name = 'color'
                    colorInput.className = 'input_option'
                    form.appendChild(colorInput)

                    var increasePriceLabel = document.createElement('label')
                    increasePriceLabel.textContent = 'Increase Price:'
                    form.appendChild(increasePriceLabel)

                    var increasePriceInput = document.createElement('input')
                    increasePriceInput.type = 'number'
                    increasePriceInput.step = '1000'
                    increasePriceInput.id = 'increase_price'
                    increasePriceInput.defaultValue = '0'
                    increasePriceInput.name = 'increase_price'
                    increasePriceInput.className = 'input_option'
                    form.appendChild(increasePriceInput)

                } else if (selectedOption === 'rams') {

                    var sizeLabel = document.createElement('label')
                    sizeLabel.textContent = 'Size:'
                    form.appendChild(sizeLabel)

                    var sizeInput = document.createElement('input')
                    sizeInput.type = 'text'
                    sizeInput.id = 'size'
                    sizeInput.name = 'size'
                    sizeInput.className = 'input_option'
                    form.appendChild(sizeInput)


                    var increasePriceLabel = document.createElement('label')
                    increasePriceLabel.textContent = 'Increase Price:'
                    form.appendChild(increasePriceLabel)

                    var increasePriceInput = document.createElement('input')
                    increasePriceInput.type = 'number'
                    increasePriceInput.step = '1000'
                    increasePriceInput.defaultValue = '0'
                    increasePriceInput.id = 'increase_price'
                    increasePriceInput.name = 'increase_price'
                    increasePriceInput.className = 'input_option'
                    form.appendChild(increasePriceInput)
                } else {

                    var sizeLabel = document.createElement('label')
                    sizeLabel.textContent = 'Size:'
                    form.appendChild(sizeLabel)

                    var sizeInput = document.createElement('input')
                    sizeInput.type = 'text'
                    sizeInput.id = 'size'
                    sizeInput.name = 'size'
                    sizeInput.className = 'input_option'
                    form.appendChild(sizeInput)


                    var increasePriceLabel = document.createElement('label')
                    increasePriceLabel.textContent = 'Increase Price:'
                    form.appendChild(increasePriceLabel)

                    var increasePriceInput = document.createElement('input')
                    increasePriceInput.type = 'number'
                    increasePriceInput.step = '1000'
                    increasePriceInput.defaultValue = '0'
                    increasePriceInput.id = 'increase_price'
                    increasePriceInput.name = 'increase_price'
                    increasePriceInput.className = 'input_option'
                    form.appendChild(increasePriceInput)
                }
            })
        })





        const btnInsert = document.getElementById('btnInsert')
        btnInsert.addEventListener('click', function (event) {
            event.preventDefault()
            if (validateForm()) {
                var newInput = document.createElement('input');
                newInput.type = 'text'
                newInput.name = 'options'
                newInput.value = selectedOption
                newInput.style.display = 'none'
                form.appendChild(newInput)
                form.submit()
                document.getElementById('inlineRadio1').checked = true
                selectedOption = 'colors'
            } else {
                alert('Please fill out all required fields.')
            }
        })


        function validateForm() {

            var requiredFields
            if (selectedOption === 'colors') {
                requiredFields = ['image', 'color', 'increase_price']
            } else {
                requiredFields = ['size', 'increase_price']
            }

            for (const fieldId of requiredFields) {
                const field = document.getElementById(fieldId)
                if (!field.value) {
                    return false
                }
            }
            return true
        }


        var id_delete
        var deleteForm = document.forms['delete-form']

        const deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            id_delete = button.getAttribute('data-bs-id')
        })

        var btn_del = document.getElementById('btn-delete-modal')
        btn_del.onclick = function () {
            deleteForm.action = '<%= product._id %>/delete/' + id_delete + "?_method=DELETE"
            deleteForm.submit()
        }

    })
</script>

<script src="/js/selectedImage.js"></script>