<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Banner</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/banner">Banner</a></li>
          <li class="breadcrumb-item active">Edit banner</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Banner</b>
    </div>
  </div>
</div>

<form action="/banner/edit" method="POST"  enctype="multipart/form-data">
  

  <div class="row form-group mb-4">
    <div class="col">
        <label style="margin: 5px;" for="lastName">Brand</label>
        <select id="brand" name="brand" class="form-select">
        <option value="<%= data.brand %>"><%= data.brand %></option>
          <% for(var i=0; i <arrBrand.length; i++) { %>
            <option value="<%= arrBrand[i].brand %>">
              <%= arrBrand[i].brand %>
            </option>
            <%}%>
        </select>
      </div>
  </div>

  <div class="row form-group mb-4">

    <div class="row">
        <label style="margin: 5px;" for="lastName">Image</label>
        <tr>
          <td>
            <img
              class="col"
              style="max-width: 150px"
              src="<%= data.image %>"
              alt=""
            />
          </td>
        </tr>
      </div>
    <div class="col">
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          placeholder="Image"
        />
      </div>
  </div>
 

  <label>Content</label>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Product</th>
              <th scope="col">image</th>
              <th scope="col">title</th>
              <th scope="col">content</th>
              <th scope="col">action</th>
          </tr>
      </thead>
      <tbody>
          <% for (let item of data.content) {%>
              <tr>
                  <td>
                      <%= item.productId %>
                  </td>
                  <td>
                      <img style="width: 60px; height: 60px;" class="option_colors" src=" <%= item.image%>" alt="Không có ảnh">
                  </td>
                  <td>
                      <%= item.title %>
                  </td>
                  <td>
                    <%= item.content %>
                </td>
                  <td>
                    <a class="btn btn-danger btn-sm mr-2" href="" data-bs-id="description/<%=item._id%>"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg"></i></a>           
                </td>
                 
              </tr>
              <% } %>
      </tbody>
  </table>
  

  <input type="text" id="_id" name="_id" value="<%= data._id %>" hidden>
  <input type="text" id="img" name="img" value="<%= data.image %>" hidden>


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelDescription">
    add description
</button>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Edit brand</button>
  </div>
</form>

<div class="modal fade" id="modelDescription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modelDescriptionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modelDescriptionLabel">Add description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="option" action="/banner/content/<%= data._id %>?_method=PUT" method="post"
                name="insert-option-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" name="title" id="title" required>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">content</label>
                    <input type="text" class="form-control" name="content" id="content" required>
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">image</label>
                    <input type="file" class="form-control" name="image" id="image" required>
                  </div>
                <div class="d-flex align-items-end justify-content-end">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnInsert" type="submit" class="btn btn-primary ms-4">Insert</button>
                </div>
            </form>



        </div>
    </div>
</div>
