<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">User</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user">User</a></li>
          <li class="breadcrumb-item active">New user</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>User</b>
    </div>
  </div>
</div>

<form action="/user/edit" method="POST" enctype="multipart/form-data">
  

  <div class="row form-group mb-4">
    <div class="col">
      <label for="email">Expiration date</label>
      <input
        type="text"
        class="form-control"
        id="expires_at"
        name="expires_at"
        value="<%= blog.expires_at.toLocaleString('en')  %>"
        placeholder="Date"
        required
      />
    </div>
    <div class="col">
      <label for="lastName">Product</label>
      <select id="id_product" name="id_product" class="form-select">
        <option value="<%= blog.id_product %>">
            <%= pro.name_product %>
          </option>
        <% for(var i=0; i < arr_Pro.length; i++) { %>
        <option value="<%= arr_Pro[i]._id %>">
          <%= arr_Pro[i].name_product %>
        </option>
        <%}%>
      </select>
    </div>
  </div>

  <div class="row">
    <label for="lastName">Image</label>
    <tr>
      <td>
        <img
          class="col"
          style="max-width: 150px"
          src="<%= blog.thumbnailImage %>"
          alt=""
        />
      </td>
    </tr>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <input
        type="file"
        class="form-control"
        id="thumbnailImage"
        name="thumbnailImage"
        value="<%= blog.thumbnailImage %>"
        placeholder=""
      />
    </div>
  </div>


  <div class="row form-group mb-4">
    <div class="col">
      <label for="lastName">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value="<%= blog.description  %>"
        placeholder="Description"
        required
      />
    </div>
  </div>

  <input type="text" id="_id" name="_id" value="<%= blog._id  %>" hidden>

 

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Edit User</button>
  </div>
</form>
