<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Detail Notification</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>
  
  <div class="col py-3">
  
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/notification">Notification</a></li>
            <li class="breadcrumb-item active"><%= data.username  %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>User</b>
      </div>
    </div>
  
  </div>
  
  <ul class="list-group">
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px" > <b>Image: </b></div>
        <img class="col" style="max-width: 150px" src="<%= data.image %>" alt="">
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>User name:</b></div>
        <div class="col"><%= data.username %></div>
      </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Title:</b></div>
          <div class="col"><%= data.title %></div>
        </div>
      </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Description:</b></div>
          <div class="col"><%= data.description %></div>
        </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Seen:</b></div>
          <div class="col"><%= data.seen %></div>
        </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Action:</b></div>
          <div class="col"><%= data.action.type %> - <%= data.action.id %> </div>
        </div>
    </li>
  

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
        <div class="col"><%= data.time.toLocaleString('en') %></div>
      </div>
    </li>
  

  
  </ul>